{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img "src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'blog-home' %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            {% if post.p_comments %}
                <div class="article-metadata text">
                    <medium class="text-dark font-weight-bold">Latest Comments</medium>
                </div>
                {% for comment in post.p_comments %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img "src="{{ comment.author.profile.image.url }}">
                            <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2">{{ comment.author }}</a>
                                <small class="text-muted">{{ comment.date_posted }}</small>
                            </div>
                            <p class="article-content">{{ comment.content }}</p>
                            </div>
                        </article>
                {% endfor %}
                <a href="{% url 'comment-create' pk=post.pk %}" class="btn btn-primary">Write a comment</a>
                <a href="{% url 'all_comments' post.pk %}" class="btn btn-secondary">View all comments</a>
            {% else %}
                <div class="article-metadata text">
                <medium class="text-dark font-weight-bold">No Comments</medium>
                </div>
                <a href="{% url 'comment-create' pk=post.pk %}" class="btn btn-primary">Write a comment</a>
            {% endif %}
        </div>
            
        </article>
    {% endfor %}
{% endblock content %}
