{% extends "blog/base.html" %}
{% block content %}
<div class="portfolio" > 
    <div class="portfolio-item">
        <h2><b>PicoCTF 2024</b></h2>
        <a href="https://github.com/Reuvi/picoCTF2024">
            <img src="/media/testImages/pico23.png" alt="Project Image">
        </a>
        <p>PicoCTF is a renowned online cybersecurity competition designed 
            for middle and high school students, created by the 
            cybersecurity experts at Carnegie Mellon University (CMU). 
            This capture-the-flag (CTF) competition challenges participants 
            to solve a series of computer security problems across various 
            categories such as cryptography, binary exploitation, reverse 
            engineering, and more. My team <b>(Buffer)&Overbyte</b> placed 12th 
            (tied with 9th) of 1,329 teams nationally in the High School picoCTF 2024 competition. A writeup for the competition can be accessed through the image.</p>
    </div>

    <div class="portfolio-item">
        <h2><b>PicoCTF 2023</b></h2>
        <a href="https://github.com/Reuvi/PicoCTF2023">
            <img src="/media/testImages/pico23.png" alt="Project Image">
        </a>
        <p>PicoCTF is a renowned online cybersecurity competition designed 
            for middle and high school students, created by the 
            cybersecurity experts at Carnegie Mellon University (CMU). 
            This capture-the-flag (CTF) competition challenges participants 
            to solve a series of computer security problems across various 
            categories such as cryptography, binary exploitation, reverse 
            engineering, and more. My team <b>(Buffer)&Overbyte</b> placed 99th of 1,498 teams nationally in the High School picoCTF 2023 competition. A writeup for the competition can be accessed through the image.</p>
    </div>
</div>




<div class="portfolio" > 
    <div class="portfolio-item">
        <h2><b>Command Line Chess</b></h2>
        <a href="https://github.com/Reuvi/CL_Chess">
            <img src="/media/testImages/chess.jpg" alt="Project Image">
        </a>
        <p>Have you ever wanted to play chess in the command line? Well, now you can! Dive into a fully functional chess game complete with ASCII graphics, all made in Java. Download the code and challenge a friend to a game—it's an absolute hoot!</p>
    </div>

    <div class="portfolio-item">
        <h2><b>Backgammon in Pygame</b></h2>
        <a href="https://github.com/Reuvi/backgammon_game">
            <img src="/media/testImages/bg.png" alt="Project Image">
        </a>
        <p>Enjoy the classic game of Backgammon in a digital format! This game faithfully recreates the traditional board game experience in a digital environment, allowing you to play against a friend in the age old classic.
            <b>(Works best with a resolution of 2560 x 1440, update incoming to support smaller screen sizes)</b>
        </p>
    </div>
</div>

<div class="portfolio" > 
    <div class="portfolio-item">
        <h2><b>AI Pneumonia Detector</b></h2>
        <a href="https://github.com/Reuvi/Website">
            <img src="/media/testImages/ai.jpg" alt="Project Image">
        </a>
        <p>During my time at Inspirit AI, I collaborated with my team to develop an advanced AI model for pneumonia detection. Following the bootcamp, I deployed this model to the web, enabling individuals worldwide to conveniently check their pneumonia X-rays from anywhere.</p>
    </div>

    <div class="portfolio-item">
        <h2><b>LumintH-Studios</b></h2>
        <a href="https://www.roblox.com/groups/34261168/LumintH-Studios#!/about">
            <img src="/media/testImages/lumint.png" alt="Project Image">
        </a>
        <p>As a co-founder of LumintH Studios, a startup Roblox game studio, I collaborated with my friends to create engaging games on the platform. Our current project is a unique game that blends the thrill of a rogue-like experience with the strategy of a card battle simulator.</p>
    </div>
</div>
{% endblock content %}